<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629046517181-s2ep2qkmqh6igu9lspn02ud9djqndmkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629046517181-s2ep2qkmqh6igu9lspn02ud9djqndmkg</string>
	<key>API_KEY</key>
	<string>AIzaSyC15LS0MQn4ZPYmpAQLnLIwPnc-r6smMT0</string>
	<key>GCM_SENDER_ID</key>
	<string>629046517181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ftb.First-Wallet</string>
	<key>PROJECT_ID</key>
	<string>firstwalletandroid</string>
	<key>STORAGE_BUCKET</key>
	<string>firstwalletandroid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629046517181:ios:94f53c39693a3c0a80c6d4</string>
	<key>DATABASE_URL</key>
	<string>https://firstwalletandroid.firebaseio.com</string>
</dict>
</plist>